.header {
  position: relative;
  background-image: url('../../assets/images/header_bg.jpg');
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
  padding-top: 20px;
  padding-bottom: 20px;

  &--movie-details {
    --header-content-bg: #000000df;
  }

  &:before {
    position: absolute;
    content: '';
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background: var(--header-content-bg);
    backdrop-filter: blur(2px);
    z-index: 0;
  }

  &__wrapper {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: space-between;
    z-index: 1;
  }

  &__title {
    color: var(--primary-text-color);
    width: 100%;
    font-weight: 100;
    margin: 30px 40px;
    text-transform: uppercase;
  }

  &__search {
    margin: 0 40px 100px;
  }
}
