.sort-filter {
  position: relative;
  background-color: transparent;
  display: flex;
  align-items: center;
  justify-content: flex-start;

  &__select-label {
    text-transform: uppercase;
    color: var(--secondary-text-color);
    margin-right: 20px;
  }

  &__list {
    background-color: transparent;
    border: none;
    color: var(--primary-text-color);
    text-transform: uppercase;
    font-size: 18px;
    cursor: pointer;
  }

  &__list-item {
    background-color: var(--main-content-bg);
    padding: 10px;
  }
}
