.add-movie-button {
  --add-movie-btn-bg: #555555aa;

  color: var(--accent-color);
  background-color: var( --add-movie-btn-bg);
  border: none;
  font-size: 18px;
  text-transform: uppercase;
  border-radius: 5px;
  padding: 10px 15px;
  cursor: pointer;
}
