.app {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  min-height: 100vh;

  &__main {
    flex-grow: 1;
  }

  &__separator {
    --separator-bg-color: #555555;

    height: 10px;
    width: 100%;
    margin: 0;
    border: none;
    background-color: var(--separator-bg-color);
  }
}
