.genres-filter {
  padding: 0;
  margin: 0;
  list-style: none;
  display: flex;

  &__input-label {
    position: relative;
    color: var(--primary-text-color);
    cursor: pointer;
    text-transform: uppercase;

    &:after {
      position: absolute;
      content: '';
      top: 100%;
      left: 0;
      width: 100%;
      height: 2px;
      background-color: var(--accent-color);
      opacity: 0;
      transform: translateY(0px);
    }
  }

  &__input {
    appearance: none;
    position: absolute;
  }

  &__input:checked + &__input-label:after {
    opacity: 1;
    transform: translateY(15px);
  }

  &__item + &__item {
    margin-left: 30px;
  }
}
