.movie-modal {
  display: flex;
  flex-direction: column;
  overflow: auto;

  & > * + * {
    margin-top: 20px;
  }

  &__input-wrapper {
    display: flex;
    flex-direction: column-reverse;
  }

  &__select-wrapper {
    display: flex;
    flex-direction: column;
  }

  &__select-label,
  &__input-label {
    text-transform: uppercase;
    color: var(--accent-color);
    font-weight: bold;
    margin-bottom: 10px;
  }

  &__list,
  &__input {
    --input-bg-color: #424242;

    height: 50px;
    padding: 0 15px;
    border: none;
    border-radius: 5px;
    background-color: var(--input-bg-color);
    color: var(--primary-text-color);
    font-size: 18px;
  }

  &__controls {
    display: flex;
    align-items: stretch;
    justify-content: flex-end;
  }

  &__button + &__button {
    margin-left: 10px;
  }
}
