:root {
  --accent-color: #F65261;
  --primary-text-color: #FFFFFF;
  --secondary-text-color: #BBBBBB;
  --tertiary-text-color: #555555;
  --header-content-bg: #000000af;
  --main-content-bg: #232323;
  --footer-content-bg: #424242;
}
