@import "./colors.css";

body {
	margin: 0;
	padding: 0;
  font-family: sans-serif;
  font-size: 16px;
}

* {
	box-sizing: border-box;
}

.wrapper {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 40px;
}
