.movie {
  display: flex;
  flex-direction: column;

  &__image {
    max-width: 300px;
    height: 450px;
  }

  &__description {
    display: grid;
    margin-top: 20px;
    grid-template-columns: 1fr auto;
  }

  &__title {
    color: var(--secondary-text-color);
    font-weight: 100;
    font-size: 16px;
    margin: 0;
  }

  &__release {
    color: var(--secondary-text-color);
    border: 1px solid var(--tertiary-text-color);
    border-radius: 3px;
    font-size: 12px;
    padding: 5px 15px;
  }

  &__genre {
    color: var(--tertiary-text-color);
    font-size: 14px;
  }
}
